<section class="todoapp">
	<header class="header">
		<h1><%= @list.name.chomp("List") %></h1> 
        <%= form_for([@list, @item]) do |f| %>
			<%= f.text_field :description, placeholder: @item.errors.full_messages_for(:description).first || "enter a new item...", class: "new-todo" %>
			<%end %>
	</header>

  <% if @list.items.all.first %>
	<section class="main">
    	<ul class="todo-list">
            <%   @list.items.reverse.each do |item|%>
                <li>
                    <div class="view">
                    <label><%= item.description %></label>
                    </div>    
                </li>
                <%end %>
        </ul>   
	</section>
       <%end %> 

</section>